.swag2 {
  font-size: 22em;
  font-family: american captain;
  opacity: 5%;
  margin-top: -450px;
  z-index: -2;
  position: absolute;
}
body {
  overflow: hidden;
  font-family: american captain;
}
.nav {
  margin-left: 200px;
  position: absolute;
  z-index: 4;
}

.fly {
  margin-top: 140px;
  margin-left: 720px;
  z-index: 8;
  position: absolute;
}
.uberfliege {
  margin-top: 75px;
  margin-left: 580px;
  transform: rotate(-41 0deg);
  z-index: -1;
  position: absolute;
}
.folio {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.75em;
  z-index: 1;
  margin-left: 320px;
  margin-top: 102px;

  position: absolute;
}

.folio:hover {
  color: rgb(0, 0, 0);
}

.swag {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.75em;
  z-index: 2;
  position: absolute;
  margin-left: 295px;
  margin-top: 40px;
}
.swag:hover {
  color: rgb(255, 255, 255);
}
.contact {
  text-decoration: none;
  color: white;
  font-size: 1.75em;
  z-index: 3;
  position: absolute;
  margin-left: 300px;
  margin-top: 155px;
  transform: rotate(-8deg);
}
.contact:hover {
  color: rgb(0, 0, 0);
}
.links {
  text-decoration: none;
  color: white;
  font-size: 1.75em;
  z-index: 4;
  position: absolute;
  margin-left: 350px;
  margin-top: 120px;
  transform: rotate(8deg);
}
.links:hover {
  color: black;
}
.id {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.75em;
  z-index: 5;
  position: absolute;
  margin-left: 335px;
  margin-top: 170px;
}
.id:hover {
  color: rgb(0, 0, 0);
}
